
<!DOCTYPE HTML>
<html>
<head>
<title>Flat Flash Contact Form Responsive Widget Template | Home :: w3layouts</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}",type="text/css" media="all"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Flat Flash Contact Form  Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Josefin+Sans:400,100,300,600,700' rel='stylesheet' type='text/css'>
<!--web-fonts-->
</head>
<body>
		<!---header--->
		<div class="header">
			<h1>Flash Contact Form</h1>
		</div>
		<!---header--->
		<!---main--->
			<div class="main">
				<div class="main-section">
				<div class="login-form">
					<h2>get in touch with us</h2>
					<p>Feel free to drop us a line and we'll get back to you in 24 hours min!</p>
						<span></span>
					<form action="{{ url_for('stud') }}" method = "POST">
						<h4>your name</h4>
						<input type="text" class="user" name="name1" placeholder="Johne" required="">
						<h4>your phone number</h4>
						<input type="text" class="phone" name="pnum" placeholder="0900.234.145678" >
						<h4>your email address</h4>
						<input type="text" class="email" name="email" placeholder="Example@mail.com">
						<h4>your message</h4>
						<textarea class="mess" placeholder="Message" name="mess"></textarea>
						<input type="submit" value="send your message">
					</form>
				</div>
				</div>
			</div>
			

		<!---main--->
</body>
</html>